batch
notebooks
upload.sh
demo.py
.DS_Store
.idea

data
outputs
results
trak_results
trak_results_worksuntil3
subets_results
figures
mnist_samples
cifar_samples

todo.txt

wandb_entity.txt
wandb_key.txt
wandb_project.txt

./launch.json
.vscode
src/__pycache__
