data/
results/
outputs/
figures/
cifar_samples/
wandb/
wandb_entity.txt
wandb_key.txt
wandb_project.txt
src/__pycache__
batch
notebooks
upload.sh
demo.py
.DS_Store
.idea
.vscode
combine_trainings2.py
todo.txt